<nav style="margin-bottom: 1em;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Detail')" [routerLink]="['/d', DomainId]">Detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Exceptions')" [routerLink]="['/d', DomainId, 'Exception']">Exceptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Traces')" [routerLink]="['/d', DomainId, 'Trace']">Trace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Metrics')" [routerLink]="['/d', DomainId, 'Metric']">Metric</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Lookup Codes')" [routerLink]="['/d', DomainId, 'LUPC']">Lookup Codes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Item Codes')" [routerLink]="['/d', DomainId, 'ITMC']">Item Codes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Roles')" [routerLink]="['/d', DomainId, 'Roles']">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Clients')" [routerLink]="['/d', DomainId, 'Clients']">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Users')" [routerLink]="['/d', DomainId, 'Users']">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Signing Keys')" [routerLink]="['/d', DomainId, 'SigningKeys']">Signing Keys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="IsActive('Task Types')" [routerLink]="['/d', DomainId, 'WTTypes']">Task Types</a>
        </li>
      </ul>
</nav>