<a *ngIf="Domain" [routerLink]="['/a', Domain.AccountId]">back</a>
<h2>Domain</h2>
<app-domain-nav *ngIf="Domain" CurrentTab="Roles" [DomainId]="Domain.DomainId"></app-domain-nav>
<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">
    {{ ErrorMessage }}
</div>
<div *ngIf="ShowBusy && !ErrorMessage" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>
<table *ngIf="Domain && WorkGroups" class="table table-sm">
    <tbody>
        <tr *ngFor="let group of WorkGroups">
            <td><a [routerLink]="['/d', Domain.DomainId, 'WGroup', group.WorkGroupId]">{{ group.Title }}</a></td>
            <td style="text-overflow: ellipsis; white-space: nowrap;">{{ group.Description }}</td>
        </tr>        
    </tbody>
    <tfoot>
        <tr>
            <td rowspan="99">
                <button class="btn btn-sm btn-secondary" (click)="OnNewGroup()">New</button>
            </td>
        </tr>
    </tfoot>
</table>