<h2>Account <span *ngIf="Account">{{ Account.Name }} </span>Client</h2>
<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">
    {{ ErrorMessage }}
</div>
<form *ngIf="!ErrorMessage && ClientRequest" (ngSubmit)="Save()" #clientForm="ngForm">
    <div class="container">
        <div *ngIf="ClientRequest.ClientId" class="row">
            <div [class]="LabelColumnClass">
                <label for="clientId">Id</label>
            </div>
            <div [class]="InputColumnClass">
                {{ ClientRequest.ClientId }}
            </div>
        </div>
        <div class="row">
            <div [class]="LabelColumnClass">
                <label for="clientName">Name</label>
            </div>
            <div [class]="InputColumnClass">
                <input id="clientName" name="clientName" #clientName="ngModel" class="form-control" type="text" required="true" maxlength="2000" placeholder="Client Name" [(ngModel)]="ClientRequest.Name"/>
                <div *ngIf="clientName.invalid && (clientName.dirty || clientName.touched)" class="alert alert-danger">
                    <div *ngIf="clientName.errors.required">
                        Name is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div [class]="LabelColumnClass">
                <label for="isActive">Is Active</label>
            </div>
            <div class="col-md-1">
                <input id="isActive" 
                    name="isActive" 
                    #isActive="ngModel" 
                    class="form-control" 
                    type="checkbox"
                    style="height: 1.25em; width: 1.25em;"
                    [(ngModel)]="ClientRequest.IsActive"/>
            </div>
        </div>
        <div class="row">
            <div [class]="LabelColumnClass">
                <label for="clientSecret">Secret</label>
            </div>
            <div [class]="InputColumnClass">
                <input id="clientSecret" name="clientSecret" #clientSecret="ngModel" class="form-control" type="text" readonly="true" [(ngModel)]="ClientRequest.Secret"/>                
            </div>
            <div class="col-md-2"><button class="btn btn-secondary btn-sm" type="button" (click)="GenerateSecret()">Generate Secret</button></div>
        </div>        
        <div class="row">
            <div class="offset-md-2 col-md-4" style="padding-top: 0.75em;">
                <button class="btn btn-primary" type="submit" [disabled]="!clientForm.form.valid">                  
                    <div *ngIf="ShowBusy && !ErrorMessage" class="spinner-border spinner-border-sm  text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Save
                </button>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="offset-md-2 col-md-8">
        <p style="font-size: small;">Client secrects cannot be read after they're created. Be sure to document secrects for future use, and handle them with care.</p>
        <p *ngIf="Secret && Secret !== ''" style="font-size: small;">Capture this secret: {{ Secret }}</p>
    </div>
</div>