<h2>Account</h2>
<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">
    {{ ErrorMessage }}
</div>
<div *ngIf="Account && Account.Locked" class="alert alert-warning alert-dismissible fade show" role="alert">
    This account is locked.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form *ngIf="!ErrorMessage && Account" (ngSubmit)="Save()" #accountForm="ngForm">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <label for="accountName">Name</label>
            </div>
            <div class="col-md-4">
                <input id="accountName" name="accountName" #accountName="ngModel" class="form-control" type="text" required="true" maxlength="2000" placeholder="Account Name" [(ngModel)]="Account.Name"/>
                <div *ngIf="accountName.invalid && (accountName.dirty || accountName.touched)" class="alert alert-danger">
                    <div *ngIf="accountName.errors.required">
                        Name is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-4" style="padding-top: 0.75em;">
                <button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">Save</button>
            </div>
        </div>
    </div>
</form>
<div *ngIf="!ErrorMessage && Domains">
    <h3>Domains</h3>
    <table class="table">
        <tr *ngFor="let domain of Domains">
            <td><a [routerLink]="['/d', domain.DomainId]">{{ domain.DomainId }}</a></td>
            <td>
                {{ domain.Name }}
            </td>
            <td></td>
        </tr>        
        <tr>
            <td></td>
            <td>
                <input type="text" class="form-control" maxlength="2000" [value]="NewDomainName" (change)="NewDomainName = $event.target.value"/>
            </td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="AddDomain()">Add</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!ErrorMessage && Clients">
    <h3>Clients</h3>
    <p>Clients are used for OAuth client credential requests.  The client id and secrect can be exchanged for a security token.  The security token can be used to access logging API's.</p>
    <a [routerLink]="['/a', AccountId, 'Client']">Add Client</a>
    <table class="table">
        <tbody>
            <tr *ngFor="let client of Clients">
                <td><a [routerLink]="['/a', AccountId, 'Client', client.ClientId]">{{ client.ClientId }}</a></td>
                <td>{{ client.Name }}</td>
            </tr>  
    </tbody>      
    </table>
</div>
<div *ngIf="!ErrorMessage && Invitations && Invitations">
    <h3>User Invitations</h3>
    <a [routerLink]="['/a', AccountId, 'Invitation']">Create Invite</a>
    <table class="table">
        <tbody>
            <tr *ngFor="let invitation of Invitations">
                <td><a [routerLink]="['/a', AccountId, 'Invitation', invitation.UserInvitationId]">{{ invitation.EmailAddress }}</a></td>
            </tr>
        </tbody>
    </table>
</div>
<ng-container *ngIf="ShowAdmin">
    <h2>Admin</h2>
    <div *ngIf="Account" id="confirmLockAccount" class="collapse fade show">
        <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#confirmLockAccount">{{ GetLockButtonText() }}</button>
    </div>  
    <div *ngIf="Account" id="confirmLockAccount" class="alert alert-warning alert-dismissible collapse" role="alert">
        <h4 class="alert-heading">Confirm Toggle Account Lock</h4>
        <p>Are you sure you want to {{ GetLockText() }} this account?</p>
        <button type="button" class="btn btn-warning" data-dismiss="alert" (click)="ToggleLock()">Yes, {{ GetLockText() }} account</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>   
    <ng-container *ngIf="DeletedDomains">
        <h3>Deleted Domains</h3>
        <table class="table">
            <tr *ngFor="let domain of DeletedDomains">
                <td>
                    {{ domain.Name }}
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="UnDelete(domain.DomainId)">Restore</button>
                </td>
            </tr>        
        </table>
    </ng-container>
    <ng-container *ngIf="Users">
        <h3>Users</h3>
        <table class="table">
            <tbody>
                <tr *ngFor="let user of Users">
                    <td>{{ user.Name }}</td>
                    <td>
                        <div [id]="'confirmRemoveUser' + user.UserId" class="collapse fade show">
                            <button class="btn btn-outline-secondary" data-toggle="collapse" [attr.data-target]="'#confirmRemoveUser' + user.UserId">Remove</button>
                        </div>  
                        <div [id]="'confirmRemoveUser' + user.UserId" class="alert alert-warning alert-dismissible collapse" role="alert">
                            <h4 class="alert-heading">Confirm Remove</h4>
                            <p>Are you sure you want to remove {{ user.Name }}?</p>
                            <button type="button" class="btn btn-warning" (click)="RemoveUser(user.UserId)">Yes, remove {{ user.Name }}</button>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</ng-container>