<h2>Account</h2>
<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">
    {{ ErrorMessage }}
</div>
<form *ngIf="!ErrorMessage && Account" (ngSubmit)="Save()" #accountForm="ngForm">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <label for="accountName">Name</label>
            </div>
            <div class="col-md-4">
                <input id="accountName" name="accountName" #accountName="ngModel" class="form-control" type="text" required="true" maxlength="2000" placeholder="Account Name" [(ngModel)]="Account.Name"/>
                <div *ngIf="accountName.invalid && (accountName.dirty || accountName.touched)" class="alert alert-danger">
                    <div *ngIf="accountName.errors.required">
                        Name is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-4" style="padding-top: 0.75em;">
                <button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">Save</button>
            </div>
        </div>
    </div>
</form>
<div *ngIf="!ErrorMessage && Domains">
    <h3>Domains</h3>
    <table class="table">
        <tr *ngFor="let domain of Domains">
            <td>{{ domain.DomainId }}</td>
            <td>
                <input type="text" class="form-control" maxlength="2000" [value]="domain.Name" (change)="domain.Name = $event.target.value" />
            </td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="UpdateDomain(domain)">Update</button>
            </td>
        </tr>        
        <tr>
            <td></td>
            <td>
                <input type="text" class="form-control" maxlength="2000" [value]="NewDomainName" (change)="NewDomainName = $event.target.value"/>
            </td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="AddDomain()">Add</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!ErrorMessage && Clients">
    <h3>Clients</h3>
    <p>Clients are used for OAuth client credential requests.  The client id and secrect can be exchanged for a security token.  The security token can be used to access logging API's.</p>
    <a [routerLink]="['/a', AccountId, 'Client']">Add Client</a>
    <table class="table">
        <tr *ngFor="let client of Clients">
            <td><a [routerLink]="['/a', AccountId, 'Client', client.ClientId]">{{ client.ClientId }}</a></td>
            <td>{{ client.Name }}</td>
        </tr>        
    </table>
</div>