<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label>Message</label>
        </div>
        <div class="col-md-10">
            {{ Exception.Message }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Timestamp</label>
        </div>
        <div class="col-md-10">
            {{ Exception.CreateTimestamp }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Type</label>
        </div>
        <div class="col-md-10">
            {{ Exception.TypeName }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Source</label>
        </div>
        <div class="col-md-10">
            {{ Exception.Source }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>App Domain</label>
        </div>
        <div class="col-md-10">
            {{ Exception.AppDomain }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Target Site</label>
        </div>
        <div class="col-md-10">
            {{ Exception.TargetSite }}
        </div>
    </div>
    <div *ngIf="Exception && Exception.Data" class="row">
        <div class="col-md-2">
            <label>Data</label>
        </div>
        <div class="col-md-10">
            <table class="table">
                <tr *ngFor="let key of GetDataKeys()">
                    <td>{{ key }}</td>
                    <td>{{ Exception.Data[key] }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Stack Trace</label>
        </div>
        <div class="col-md-10" style="white-space: pre-wrap; font-size: small;">
            {{ Exception.StackTrace }}
        </div>
    </div>
</div>